body{
  font-family: sans-serif;
}
.rounded{
  width: 300px;
  margin: auto;
}
.rounded img{
  border-radius: 50%;
}
.presence h1{
  text-align: center;
  color: green;
}
.presence h1 {
  border: 2px
  padding: 10px;
  margin: 2px;
  background-color: yellow;
}
.about{
  float: left;
}
