body{
  font-family: sans-serif;
}
.presence img{
  border-radius: 50%;
  float: right;
}
.presence h1{
  color: green;
}

.navbar{
  background-color: pink;
  width: auto;
  color: white;
}
.about{
  color: white;
  background-color: black;
}
.skills h4{
  text-align: center;

}
.experience{
  padding:100px;
  text-decoration: none;

}
.education{
  float: left;
  padding: 100px;

}
